<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/vaakash/socializer@2f749eb/css/socializer.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
    <div>
      <h1 class="text-4xl font-bold mb-4 font-amaranth">{{ .Site.Params.introTitle | safeHTML}}</h1>
      <p class="font-light text-lg">{{ .Site.Params.introSubtitle | safeHTML}}</p>
      <p class="font-light text-md mt-4">{{ .Site.Params.introSubsubtitle | safeHTML}}</p>

      <div class="md:mt-16 mt-6 text-center">
        <span class="mr-12">
          <a href="{{ .Site.Params.socialInstagramLink }}" target="_blank" title="Instagram">
            <i class="fab fa-instagram text-5xl"></i>
          </a>
        </span>
        <span>
          <a href="{{ .Site.Params.socialWhatsappLink }}" target="_blank" title="Agendar consulta via Whatsapp">
            <i class="fab fa-whatsapp text-5xl"></i>
          </a>
        </span>
      </div>

      <p class="font-light text-xl mt-4 text-center">
        <a href="{{ .Site.Params.socialInstagramLink }}" target="_blank" title="Instagram">
          {{ .Site.Params.serviceDescription | safeHTML}}
        </a>
      </p>
    </div>

    {{ $image := (resources.Get .Site.Params.introPhoto).Resize "480x webp q100" }}
    <meta property="og:image" content="{{ $image.Permalink }}"/>
    <img src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Site.Title }}" class="rounded-2xl shadow-sm mx-auto h-auto"/>
  </div>
</section>
